services:
  postgres:
    image: postgres:15
    container_name: pathwise-db
    environment:
      POSTGRES_DB: pathwise
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pathwise-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pathwise.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: